.photo-card-title {
	color: var(--taupe);
	font-size: 20px;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.photo-card-content {
	height: 95px;
	overflow: hidden;

	padding: 5px;
	border-radius: 5px;
}
