.container {
	display: flex;
	flex-direction: column;
}

.container > h1 {
	align-self: center;
}

.container-content {
	background: var(--battleship-gray);
	padding: 50px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 1);
}
