.app-app {
	padding: 20px;
}

.home-btn {
	display: flex;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
}

.home-btn > p {
	font-size: 20px;
	font-weight: 600;
}

.home-btn > img {
	height: 40px;
}
